*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    padding: 10px;
    background-color:#638889;
}

.logo a {   
    text-decoration: none;
    color:#000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}


.menu {
    display: flex;
    list-style: none; 
    }
.menu li{
    margin-left: 50px;
    width: 50%;

}
.menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;

}
.active{
    background-color: #F9EFDB;
    border-radius: 20px;
}

.banner {
    background-color:#9DBC98;
    color: #000000;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    margin-top: 5px;
}
.banner-info {
    text-align: center;
}

.banner-info img {
    width: 220px; ;
    
}

main div{
    padding: 20px;

}

main div p {
    margin: 10px;
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* main img{ */
    /* width: 100%; */
    /* border-radius: 50%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
/* } */
footer{
    background-color: orange;
    color: #000000;
    padding: 5px;
    text-align: center;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }














* {
  box-sizing: border-box;
}
  .header {
    background-color:#9DBC98;
    color: #000000;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
  float: left;
  width: 50%;
  padding: 15px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}





img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnn {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.activee,
.demo:hover {
  opacity: 1;
}

h3.outset {border-style: outset;}

.side50{
  width: 50%;
}

.mid {
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 100%;
  height: auto;
}














.headerr {
  background-color:#9DBC98;
  color: #000000;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnz {
  float: left;
  padding: 10px;
}

.columnz.side {
  width: 30%;
}

.columnz.middle {
  width: 70%;
}

.rowz::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .columnz.side, .columnz.middle {
    width: 100%;
  }
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button1 {
  background-color: #EBD9B4; 
  color: black; 
  border: 2px solid black;
}

.button11 {
  background-color: #9DBC98; 
  color: black; 
  border: 2px solid black;
}

.button111 {
  background-color: #638889; 
  color: black; 
  border: 2px solid black;
}

.button1111 {
  background-color: #F3CCF3; 
  color: #F3CCF3; 
  border: 2px solid black;
}
.button11111 {
  background-color: #B4D4FF; 
  color: #B4D4FF; 
  border: 2px solid black;
}
.button111111 {
  background-color: #C1F2B0; 
  color: #C1F2B0; 
  border: 2px solid black;
}
.button1111111 {
  background-color: #FFF78A; 
  color: #FFF78A; 
  border: 2px solid black;
}
.button11111111 {
  background-color: #FFCF81; 
  color: #FFCF81; 
  border: 2px solid black;
}
.button111111111 {
  background-color: #fe8989; 
  color: #fe8989; 
  border: 2px solid black;
}

.button1:hover {
  background-color: #feb303;
  color: rgb(0, 0, 0);
}

.button11:hover {
  background-color: #feb303;
  color: rgb(0, 0, 0);
}

.button111:hover {
  background-color: #feb303;
  color: rgb(0, 0, 0);
}
















.bannerr {
  background-color:#9DBC98;
  color: #000000;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainnnn{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}